html {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: white;
    font-size: 32px;
    text-align: center;
    @include media-query("mobile") {
        font-size: 12px;
    }
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.grid-container {
    display: grid;
    grid-template-rows: 149fr 81fr 649fr 152fr;
    @include media-query("mobile") {
        grid-template-rows: auto;
    }
}

header {
    padding: 1rem;
    background-color: $red;
}

nav {
    padding: 0.5rem;
    background-color: $green;
    display: flex;
    justify-content: space-around;
}

.content {
    display: grid;
    grid-template-columns: 374fr 826fr;
}

aside {
    padding: 2rem;
    background-color: $purple;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 50%;
}

.main {
    padding: 2rem;
    background-color: $orange;
}

.lorem-ipsum {
    font-size: 12px;
}

footer {
    padding: 1rem;
    background-color: $blue;
}